@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfffc;
    --color: #0e0f15;
    --tertiary-color: #c1292e;
    --font-size: 1.2rem;
  }
}

body {
  background: var(--color);
  color: var(--background);
  font-size: var(--font-size);
  box-sizing: border-box;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
